@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
body
{
    width: 100%;
    background-position: top;
    margin:0;
    font-family: 'Montserrat',sans-serif;
}
p,blockquote
{
    font-size: .9em;
    line-height: 1.6em;
}
ul
{
    list-style-type:none;
    margin:0;
    padding:0;

}
.container
{
    text-align: center;
    padding: .8em 1.2em;
    width: 100%;
}
.logo
{
    width:130px;
    color:#ffffff;
    text-decoration: none;
}
.logo:hover
{
    color: #3D444A;
}

#navbar
{
    display: flex; 
    justify-content: space-between;
    background:#00C2FF;
    color:#ffffff;
    padding: .3rem;
    z-index: 1;
    width: 100%;
    border-top-left-radius: 40px;

}
.scroll
{
    padding:1px;
    margin:0;
}
.scroll:hover{
    animation: shake 0.5s;
}


#navbar li a:hover
{
    color:#3D444A;
}

.last_header
{
    padding-right: 1rem;
}
.logo
{
    padding-left: 1rem;
    font-size: 140%;
}

#navbar ul
{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar li a
{
    text-decoration: none;
    color: #ffffff;
    padding: .7rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius:5px;
    margin-top: 5rem;

}
.img_audi
{ 
    margin-top: 30px;
    width: 20%;
    border-radius: 50%;
}

.top
{
    position: relative;
    z-index: 1;
    font-size: 1.1em;
}
.blue-container
{
    width: 100%;
    background: #00C2FF;
    color:#fff;
    margin-top: 5%;
    padding:4em 0 2em;
    border-top-left-radius: 40px;
    border-bottom-right-radius:40px;
    transform: skewY(-2deg);

}
.blue-container ul li a
{   
    text-decoration: none;
    color :#fff

}
.blue-container ul li a:hover
{
    color: #3D444A
}

.blue-container ul
{
    transform: skewY(2deg);
}
.blue-container ul li
{
    margin-bottom: 3em;
}
.blue-container ul li p
{
    padding: 0.5em;
}
.blue-container li img
{
    width: 10%;
}

.grey-container
{
   
    background: #F6F6F6;
    padding: 4em 0 2em;
    margin-top:-3%;
}


.img_srm
{
    position: absolute;
    left: 1%;
    width:6%;
    padding:10px;
}
.grey-container figcaption
{
    padding-top: 5%;
}
.cta
{
    background: #00CC80;
    width: calc(100%-10em);
    display: block;
    color: #ffffff;
    border-radius: 30px;
    padding: .2em;
    text-decoration: none;
    font-size: 1.2em;
    margin: 3% 7% ;
    position: relative;
    z-index: 4;
}
.cta:hover
{
    color: #3D444A;
}

.footer-container
{

    width: 100%;
    height: 150px;
    background: #3D444A;
    color: #fff;
    padding: 0;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    margin-bottom:0;
}


.footer-container div img
{
    width:6%;
    padding: 5px;
    margin-top: 50px;
    margin-bottom:50px; 
    
}
.footer-container div
{
    margin-left:45%;
}




